<a href="https://colab.research.google.com/github/Yamada8412/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#辞書攻撃に用いられる辞書を用いて、パスワード強度判定プログラムを作る

In [380]:
import pandas as pd
import numpy as np
import csv
df = pd.read_csv('pass_str.csv')

In [7]:
def calc_len(p):
  global srg
  #桁数による強度を調べる関数
  #桁が大きくなるほど指数関数的に強度が増していく

  if len(p) <= 4:
    return 0
  else:
    return ((len(p) - 1) * 2)

def calc_sca_kinds(p):
  #文字の種類(大文字、小文字、数字、記号)の数を調べる
  #違う種類の文字の散らばり具合を調べる
  p_list = list(p)

  up_al = list()
  un_al = list()
  num   = list()
  sym   = list()

  for i in range(len(p_list)):
    if p_list[i].isnumeric():
      num.append(i)
    elif p_list[i].isupper():
      up_al.append(i)
    elif (p_list[i].islower()):
      un_al.append(i)
    else:
      sym.append(i)
  
  scat_list = [False] * 4
  cnt = 0
  p_list = [up_al,un_al,num,sym] #[大英字、小英字、数字、記号]

  for i in p_list:
    if len(i) >= 1:
      cnt += 1

  for i in range(4):
    for x in range(len(p_list[i]) - 1):
      if p_list[i][x + 1] - p_list[i][x] != 1:
        scat_list[i] = True
        break

  #Suzuki1224だと、文字の種類は3種類で、S,uzuki,1224がそれぞれ束になっているので >> 3,[False,False,False,False]
  #Su12zuki24だと、12と24,uとzukiがそれぞれ離れているので >> 3,[False,True,True,False]
  #A!6wは4種類の文字が含まれているが、それぞれ1つずつしかないので >> 4,[False,False,False,False]
  return cnt,scat_list

def calc_pandas(p):
  df = pd.read_excel('pass_str.csv')
  
  return

In [ ]:
#物凄く強い(sca)　強い　中ぐらい　弱い　物凄く弱い(len,dictio) -- * 0 or * 1/2 or 1　　数式は自前

In [ ]:
p = input()
print(calc_sca_kinds(p))

Suzu12ki24
(3, [False, True, True, False])

In [381]:
df = pd.read_csv('pass_str.csv')
for i in range(2019,2022):
  df[f'{i} count'] = df[f'{i} count'] / df[f'{i} count'].sum()
df

,2019 password,2019 count,2020 password,2020 count,2021 password,2021 count
0,12345,0.136944,123456,0.221206,123456,0.177581
1,123456,0.121021,123456789,0.083622,123456789,0.079224
2,123456789,0.051241,picture1,0.032322,12345,0.056724
3,test1,0.048392,password,0.031352,qwerty,0.038413
4,password,0.040459,12345678,0.028023,password,0.036074
...,...,...,...,...,...,...
195,123456789,0.001418,142536,0.001382,1234567891,0.001018
196,a123456,0.001417,peanut,0.001377,456123,0.001014
197,samsung,0.001416,11223344,0.001377,444444,0.001009
198,123,0.001416,thomas,0.001376,qq123456,0.000961
199,love123,0.001415,angel1,0.001373,xxx,0.000500

9595.288184

In [387]:
df0 = df[['2021 password','2021 count']]
df0 = df0.rename(columns = {'2021 password': 'password','2021 count':'count'})
#df0 = df0.append({'password': 'asd','count':100},ignore_index = True)
for i in range(len(df0)):
  try :
    a = df[df0.loc[i,'password'] == df['2020 password']]['2020 count'].sum()
    df0.loc[i,'count'] += float(a)/2
    continue
  except:
    df0 = df0.append({'password':})
    pass
df0

       password     count
0        123456  0.289018
1     123456789  0.122657
2         12345  0.064911
3        qwerty  0.045231
4      password  0.051750
..          ...       ...
195  1234567891  0.001018
196      456123  0.001014
197      444444  0.001009
198    qq123456  0.000961
199         xxx  0.000500

[200 rows x 2 columns]

In [396]:
list1=[['a',100,'a1',200], ['b',123,'a',280], ['c',45,'c1',78],['d',21,'b',109],['q',90,'b',56]]
index1 = ["Row1", "Row2", "Row3","Row4","Row5"]
columns1 =["Col1", "coun","Col2",'count2']
qwe = pd.DataFrame(data=list1, columns=columns1)
qwe

  Col1  coun Col2  count2
0    a   100   a1     200
1    b   123    a     280
2    c    45   c1      78
3    d    21    b     109
4    q    90    b      56

In [395]:
# for i in range(len(qwe)):
#   qwe['count'] = np.where(qwe['Col2'] == qwe.loc[i,'Col1'],qwe['count'] += qwe['count2'],qwe['count'] = qwe['count'])

#for i in range(len(qwe)):
  #print(qwe.loc[i,'Col1'] == qwe['Col2'])
  #if qwe.loc[i,'Col1'] == qwe['Col2']:
    #print('a')
  #qwe[qwe.loc[i,'Col1'] == qwe['Col2']]['count2']
  #qwe.loc[i,'count'] += 

# qwe.loc[1,'count'] = qwe.loc[1,'count'] + qwe.loc[2,'count']
# qwe
qwe0 = qwe[['Col1','coun']]
qwe0 = df0.rename(columns = {'Col1': 'Col','coun':'cou'})
for i in range(len(qwe0)):
  try :
    a = qwe0[qwe0.loc[i,'Col'] == qwe['Col2']]['count2'].sum()
    qwe0.loc[i,'cou'] += int(a)
  except:
    #qwe0 = qwe0.append(qwe[qwe.loc[i,'Col1'] == qwe['Col2'] == False]['coun'])
    pass
qwe0

       password     count
0        123456  0.289018
1     123456789  0.122657
2         12345  0.064911
3        qwerty  0.045231
4      password  0.051750
..          ...       ...
195  1234567891  0.001018
196      456123  0.001014
197      444444  0.001009
198    qq123456  0.000961
199         xxx  0.000500

[200 rows x 2 columns]