<a href="https://colab.research.google.com/github/Yamada8412/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandasで適当なcsvファイルを読み込んでデータ解析をする

In [21]:
import pandas as pd
#df = pd.read_excel('パスワード強度判定1.xlsx')

In [31]:
def calc_len(p):
  global srg
  #桁数による強度を調べる関数
  #桁が大きくなるほど指数関数的に強度が増していく

  if len(p) <= 4:
    return 0
  else:
    return ((len(p) - 1) * 2)

def calc_sca_kinds(p):
  #文字の種類(大文字、小文字、数字、記号)の数を調べる
  #違う種類の文字の散らばり具合を調べる
  p_list = list(p)

  up_al = list()
  un_al = list()
  num   = list()
  sym   = list()

  for i in range(len(p_list)):
    if p_list[i].isnumeric():
      num.append(i)
    elif p_list[i].isupper():
      up_al.append(i)
    elif (p_list[i].islower()):
      un_al.append(i)
    else:
      sym.append(i)
  
  scat_list = [False] * 4
  cnt = 0
  p_list = [up_al,un_al,num,sym] #[大英字、小英字、数字、記号]

  for i in p_list:
    if len(i) >= 1:
      cnt += 1

  for i in range(4):
    for x in range(len(p_list[i]) - 1):
      if p_list[i][x + 1] - p_list[i][x] != 1:
        scat_list[i] = True
        break

  #Suzuki1224だと、文字の種類は3種類で、S,uzuki,1224がそれぞれ束になっているので >> 3,[False,False,False,False]
  #Su12zuki24だと、12と24,uとzukiがそれぞれ離れているので >> 3,[False,True,True,False]
  #A!6wは4種類の文字が含まれているが、それぞれ1つずつしかないので >> 4,[False,False,False,False]
  return cnt,scat_list

def calc_pandas(p):
  df = pd.read_excel('パスワード強度判定1.xlsx')
  
  return

In [ ]:
#物凄く強い(sca)　強い　中ぐらい　弱い　物凄く弱い(len,dictio) -- * 0 or * 1/2 or 1　　数式は自前

In [30]:
p = input()
print(calc_sca_kinds(p))

Suzu12ki24
(3, [False, True, True, False])

In [29]:
df = pd.read_excel('パスワード強度判定1.xlsx')
df

,2019 password,2019 count,2020 password,2020 count,2021 password,2021 count
0,12345,2812220,123456,2543285,123456,103170552
1,123456,2485216,123456789,961435,123456789,46027530
2,123456789,1052268,picture1,371612,12345,32955431
3,test1,993756,password,360467,qwerty,22317280
4,password,830846,12345678,322187,password,20958297
...,...,...,...,...,...,...
195,123456789,29110,142536,15895,1234567891,591221
196,a123456,29103,peanut,15832,456123,589201
197,samsung,29073,11223344,15830,444444,586266
198,123,29068,thomas,15817,qq123456,558240
199,love123,29064,angel1,15786,xxx,290395